<?xml version="1.0"?>
<!-- works fine with PHPUnit-3.6.10 -->
<phpunit 
	colors="true"
    stopOnFailure="false"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="HashGenerator Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <!-- this is the path of the files included in your clover report -->
            <directory suffix=".php">./application</directory>
        </whitelist>
    </filter>
</phpunit>

